<!-- container element for chat window -->
<div id="chat"></div>

<!-- import the JavaScript file -->
<%= javascript_include_tag('chat') %>


<script>
    // initialize by constructing a named function...
    // ...and add text processing plugin:
    var chatWindow = new Bubbles(document.getElementById("chat"), "chatWindow", {
        // the one that we care about is inputCallbackFn()
        // this function returns an object with some data that we can process from user input
        // and understand the context of it

        // this is an example function that matches the text user typed to one of the answer bubbles
        // this function does no natural language processing
        // this is where you may want to connect this script to NLC backend.
        inputCallbackFn: function(o) {
            // add error conversation block & recall it if no answer matched
            var miss = function() {
                chatWindow.talk(
                  {
                      "i-dont-get-it": {
                          says: [
                              "Sorry, I don't get it 😕. Pls repeat? Or you can just click below 👇"
                          ],
                          reply: o.convo[o.standingAnswer].reply
                      }
                  },
                  "i-dont-get-it"
                )
            }

            // do this if answer found
            var match = function(key) {
                setTimeout(function() {
                    chatWindow.talk(convo, key) // restart current convo from point found in the answer
                }, 600)
            }

            // sanitize text for search function
            var strip = function(text) {
                return text.toLowerCase().replace(/[\s.,\/#!$%^&*;:{}=\-_'"`~()]/g, "")
            }

            // search function
            var found = false
            o.convo[o.standingAnswer].reply.forEach(function(e, i) {
                strip(e.question).includes(strip(o.input)) && o.input.length > 0
                  ? (found = e.answer)
                  : found ? null : (found = false)
            })
            found ? match(found) : miss()
        }
    }) // done setting up chat-bubble

    // `.talk()` will get your bot to begin the conversation
    var convo = {
        // pass your JSON/JavaScript object to `.talk()` function where
        // you define how the conversation between the bot and user will go
            // "ice" (as in "breaking the ice") is a required conversation object
            // that maps the first thing the bot will say to the user
            ice: {
                says: [
                    "Hallo!",
                    "Ich bin Volker, der Viezexperte.",
                    "Hast du Lust auf ein kleines Quiz, um dein Viez Wissen zu testen? 🍎"
                ],

                reply: [
                    {
                        question: "Ja, klar. Los gehts! 😊", // label for the reply option
                        answer: "chapter_one" // key for the next conversation object
                    },
                    {
                        question: "Nein, Danke.", // label for the reply option
                        answer: "no_quiz" // key for an "escape valve"; we refer to this whenever a reply signals the end of the convo
                    }
                ]
            },

      /*      enter_name: {
                says: ["Wie heißt du?"],

                reply: [
                    {
                        question: "Ich heiße .",
                        answer: "chapter_one"
                    },
                    {
                        question: "Das geht dich gar nichts an.",
                        answer: "chapter_one"
                    }
                ]
            }, */

            chapter_one: {
                says:   ["Super!",
                        "Dann lass uns mit der ersten Frage starten. 😉",
                        "Wenn du das Quiz komplett bearbeitest, erhältst du am Schluss auch eine kleine Auswertung, also bleib dran 😎",
                        "<%=@question_array[0].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[0].answers.first.body%>", // label for the reply option
                        answer: "chapter_two", // key for the next conversation object
                        correct: <%= @question_array[0].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[0].answers.find(@question_array[0].answers.first.id + 1).body%>",
                        answer: "chapter_two",
                        correct: <%=@question_array[0].answers.find(@question_array[0].answers.first.id + 1).correct?%>
                    },
                    {
                        question: "<%=@question_array[0].answers.last.body%>",
                        answer: "chapter_two",
                        correct: <%=@question_array[0].answers.last.correct?%>
                    }
                ]
            },
            chapter_two: {
                says:   ["<%=@question_array[1].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[1].answers.first.body%>", // label for the reply option
                        answer: "chapter_three", // key for the next conversation object
                        correct: <%= @question_array[1].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[1].answers.find(@question_array[1].answers.first.id + 1).body%>",
                        answer: "chapter_three"
                    },
                    {
                        question: "<%=@question_array[1].answers.last.body%>",
                        answer: "chapter_three"
                    }
                ]
            },
            chapter_three: {
                says:   ["<%=@question_array[2].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[2].answers.first.body%>", // label for the reply option
                        answer: "chapter_four", // key for the next conversation object
                        correct: <%= @question_array[2].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[2].answers.find(@question_array[2].answers.first.id + 1).body%>",
                        answer: "chapter_four"
                    },
                    {
                        question: "<%=@question_array[2].answers.last.body%>",
                        answer: "chapter_four"
                    }
                ]
            },
            chapter_four: {
                says:   ["<%=@question_array[3].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[3].answers.first.body%>", // label for the reply option
                        answer: "chapter_five", // key for the next conversation object
                        correct: <%= @question_array[3].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[3].answers.find(@question_array[3].answers.first.id + 1).body%>",
                        answer: "chapter_five"
                    },
                    {
                        question: "<%=@question_array[3].answers.last.body%>",
                        answer: "chapter_five"
                    }
                ]
            },
            chapter_five: {
                says:   ["<%=@question_array[4].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[4].answers.first.body%>", // label for the reply option
                        answer: "chapter_six", // key for the next conversation object
                        correct: <%= @question_array[4].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[4].answers.find(@question_array[4].answers.first.id + 1).body%>",
                        answer: "chapter_six"
                    },
                    {
                        question: "<%=@question_array[4].answers.last.body%>",
                        answer: "chapter_six"
                    }
                ]
            },
            chapter_six: {
                says:   ["<%=@question_array[5].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[5].answers.first.body%>", // label for the reply option
                        answer: "chapter_seven", // key for the next conversation object
                        correct: <%= @question_array[5].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[5].answers.find(@question_array[5].answers.first.id + 1).body%>",
                        answer: "chapter_seven"
                    },
                    {
                        question: "<%=@question_array[5].answers.last.body%>",
                        answer: "chapter_seven"
                    }
                ]
            },
            chapter_seven: {
                says:   ["<%=@question_array[6].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[6].answers.first.body%>", // label for the reply option
                        answer: "chapter_eight", // key for the next conversation object
                        correct: <%= @question_array[6].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[6].answers.find(@question_array[6].answers.first.id + 1).body%>",
                        answer: "chapter_eight"
                    },
                    {
                        question: "<%=@question_array[6].answers.last.body%>",
                        answer: "chapter_eight"
                    }
                ]
            },
            chapter_eight: {
                says:   ["<%=@question_array[7].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[7].answers.first.body%>", // label for the reply option
                        answer: "chapter_nine", // key for the next conversation object
                        correct: <%= @question_array[7].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[7].answers.find(@question_array[7].answers.first.id + 1).body%>",
                        answer: "chapter_nine"
                    },
                    {
                        question: "<%=@question_array[7].answers.last.body%>",
                        answer: "chapter_nine"
                    }
                ]
            },
            chapter_nine: {
                says:   ["<%=@question_array[8].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[8].answers.first.body%>", // label for the reply option
                        answer: "chapter_ten", // key for the next conversation object
                        correct: <%= @question_array[8].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[8].answers.find(@question_array[8].answers.first.id + 1).body%>",
                        answer: "chapter_ten"
                    },
                    {
                        question: "<%=@question_array[8].answers.last.body%>",
                        answer: "chapter_ten"
                    }
                ]
            },
            chapter_ten: {
                says:   ["<%=@question_array[9].body%>"],
                reply: [
                    {
                        question: "<%=@question_array[9].answers.first.body%>", // label for the reply option
                        answer: "award", // key for the next conversation object
                        correct: <%= @question_array[9].answers.first.correct?%>
                    },
                    {
                        question: "<%=@question_array[9].answers.find(@question_array[9].answers.first.id + 1).body%>",
                        answer: "award"
                    },
                    {
                        question: "<%=@question_array[9].answers.last.body%>",
                        answer: "award"
                    }
                ]
            },
            award: {
                says:   ["Sehr toll!"],
            },
            no_quiz: {
                says: [
                    "Schade, aber stattdessen kann ich dir einen Fun-Fact zu Viez erzählen: FUN FACT"
                ],
                reply: [
                    {
                        question: "Hier muss FUN FACT random hingeschrieben werden",
                        answer: "end"
                    }
                ]
            },
    } // end conversation object


    chatWindow.talk(convo)
</script>