

<!-- container element for chat window -->
<div id="chat"></div>

<!-- import the JavaScript file -->
<%= javascript_include_tag('chat') %>


<script>
    // initialize by constructing a named function...
    var chatWindow = new Bubbles(
        document.getElementById("chat"), // ...passing HTML container element...
        "chatWindow" // ...and name of the function as a parameter
    )

    // `.talk()` will get your bot to begin the conversation
    chatWindow.talk(
        // pass your JSON/JavaScript object to `.talk()` function where
        // you define how the conversation between the bot and user will go
        {
            // "ice" (as in "breaking the ice") is a required conversation object
            // that maps the first thing the bot will say to the user
            ice: {
                says: [
                    "Hallo!",
                    "Ich bin Volker, der Viezexperte.",
                    "Hast du Lust auf ein kleines Quiz, um dein Viez Wissen zu testen? 🍎"
                ],

                reply: [
                    {
                        question: "Ja, klar. Los gehts! 😊", // label for the reply option
                        answer: "enter_name" // key for the next conversation object
                    },
                    {
                        question: "Nein, Danke.", // label for the reply option
                        answer: "no_quiz" // key for an "escape valve"; we refer to this whenever a reply signals the end of the convo
                    }
                ]
            },

            enter_name: {
                says: [
                    "Wie heisst du?"
                ],

                reply: [
                    {
                        question: "Ich heisse NAME.",
                        answer: "chapter_one"
                    },
                    {
                        question: "Das geht dich gar nichts an.",
                        answer: "chapter_one"
                    }
                ]
            },

            chapter_one: {
                says: ["<%= @current_question.body%>"],
                // "reply" is an array of possible options the user can pick from
                // as a reply
                reply: [
                    {
                        question: "<%=@current_answer_a.body%>", // label for the reply option
                        answer: "chapter-two" // key for the next conversation object
                    },
                    {
                        question: "<%=@current_answer_b.body%>",
                        answer: "chapter-two"
                    },
                    {
                    question: "<%=@current_answer_c.body%>",
                    answer: "chapter-two"
                    }
                ]
            },

            no_quiz: {
                says: [
                "Schade, aber stattdessen kann ich dir einen Fun-Fact zu Viez erzählen: FUN FACT"
                ],
            reply: [
            {
                question: "Hier muss FUN FACT random hingeschrieben werden",
                answer: "end"
            }
        ]
    },
        } // end conversation object
    )
</script>