<%= stylesheet_link_tag "chatwindow" %>
<div class = "chatwindow">
<div class="question">
  <p class="question">
    <%= @current_question.body%>
  </p>
</div>
<div class='answers'>
  <p><%= button_to  @current_answer_a.body, {action:'next', value:@current_question.id}, method:'get', type:'submit', id:'answer_a', class:'answer_button',
                    name: 'answer_a',  remote:false%>
  </p>
  <p><%= button_to @current_answer_b.body, {action:'next', value:@current_question.id}, method:'get', type:'submit', id:'answer_b', class:'answer_button',
                   remote:true%>
  </p>
  <p><%= button_to @current_answer_c.body, {action:'next', value:@current_question.id}, method:'get', type:'submit', id:'answer_c', class:'answer_button',
                   remote:true%>
  </p>
</div>
</div>