<%= stylesheet_link_tag "chatwindow" %>
<p>
  <%= @current_question.body%>

</p>
<div>
  <%= button_to  @current_answer_a.body, 'chatwindow#next', id:'answer_a', class:'answer_button', remote:true%>
  <%= button_to @current_answer_b.body, 'chatwindow#next', id:'answer_b', class:'answer_button', remote:true%>
  <%= button_to @current_answer_c.body, 'chatwindow#next', id:'answer_c', class:'answer_button', remote:true%>
</div>


