<!DOCTYPE html>
<html lang="de">
<head>
  <title>Viezbot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <a class="anotherbutton" href="https://digitalviez.github.io/"><div class ="hide">"Homepage"</div></a>

  <style>
      body {
          background: #EDB78C;
      }
      .bubble-container {
          margin: 0 auto;
          height: 100vh;
      }

      .bubble-container .input-wrap textarea {
          margin: 0;
          width: calc(100% - 30px);

      }
      .anotherbutton{
          float: left;
          left: 2.5%;
          position:relative;
          width:90px;
          height:90px;
          background:rgba(0,0,0,0);
          box-sizing:border-box;
          border: 1px solid rgba(44, 44, 44, 0.67);
          box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
          padding: 1% 1% 1% 1%;
          border-radius: 15px 15px 15px 15px;
          font-family: Roboto, sans-serif;
          margin-top: 2%;
      }

      .anotherbutton:before{
          position:absolute;
          content:'';
          margin:auto;
          top:calc(30px/4);
          bottom:0;
          left:0;
          right:0;
          width:calc(50px/1.6);
          height:calc(50px/1.8);
          background:rgba(0,0,0,0);
          border:calc(30px/4) solid #000000;
          border-bottom:none;
          box-sizing:border-box
      }

      .anotherbutton:after{
          position:absolute;
          content:'';
          margin:auto;
          top:0;
          bottom:calc(50px/2);
          left:0;
          right:0;
          width:0;
          height:0;
          box-sizing:border-box;
          border-bottom:calc(50px/2) solid #000000;
          border-left:calc(50px/2) solid transparent;
          border-right:calc(50px/2) solid transparent
      }

      .hide {
          display: none;
      }

      .anotherbutton .HP:hover + .hide {
          color: red;
          opacity: 1;
      }

      .anotherbutton:hover {
          background-color: #edaf8c;
          background-position: 0 0;
          color: #FFFFFF;
      }
  </style>


</head>
<body>
<%= yield %>
</body>
</html>
